.m-t-auto {
  margin-top: auto;
}

.m-t-2 {
  margin-top: 2rem;
}

.m-b-auto {
  margin-bottom: auto;
}

.m-b-1 {
  margin-bottom: 1rem;
}

.m-b-2 {
  margin-bottom: 2rem;
}

.p-1 {
  padding: 1rem;
}

.p-t-2 {
  padding-top: 2rem;
}

.p-b-2 {
  padding-bottom: 2rem;
}
